.manual {
    margin: 3em;
}
.manual input{
    padding: 1em;
    font-size: 1em;
    margin: 1em;
}

#calcu
{
    margin-left: 8em;
    padding: 12px 5em;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2em;
}