body
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#announce
{
    display: -ms-inline-grid;
    text-align: center;
}

#announceBtn
{
    cursor: pointer;
}